In [1]:
# Here we will handel any imports
import pandas as pd
import numpy as np

In [2]:
# bring in the data set
us_insurance = pd.read_csv('insurance.csv')

In [3]:
us_insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
us_insurance.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

## 1. Average insurance costs of smokers vs. non-smokers

In [5]:
# how many smokers and non smokers
smoker_sum = us_insurance.smoker.value_counts()
no_smoker_sum = smoker_sum['no']
yes_smoker_sum = smoker_sum['yes']

print(f'Number of non-smokers: {no_smoker_sum}')
print(f'Number of smokers: {yes_smoker_sum}')

Number of non-smokers: 1064
Number of smokers: 274

In [7]:
# find mean of charges for smokers vs non-smokers
average_ins_cost_yes_smoker = us_insurance.loc[us_insurance['smoker'] == 'yes', 'charges'].mean()
average_ins_cost_no_smoker = us_insurance.loc[us_insurance['smoker'] == 'no', 'charges'].mean()
smoker_average_difference = average_ins_cost_yes_smoker - average_ins_cost_no_smoker

print(f'The average insurance cost of non-smokers in: ${round(average_ins_cost_no_smoker, 2)}')
print(f'The average insurance cost of smokers in: ${round(average_ins_cost_yes_smoker, 2)}')

print(f'On average smokers cost insurance ${round(smoker_average_difference, 2)} more anualy.')

The average insurance cost of non-smokers in: $8434.27
The average insurance cost of smokers in: $32050.23
On average smokers cost insurance $23615.96 more anualy.

## 2. Average insurance cost of high(>=25) vs. low(<25) BMI.

In [10]:
# first we will find the high vs low BMI counts
high_threshold = 25
high_bmi = us_insurance[us_insurance['bmi'] >= high_threshold]['bmi'].count()
low_bmi = us_insurance[us_insurance['bmi'] < high_threshold]['bmi'].count()

print(f'Number of clients with BMI >= 25: {high_bmi}')
print(f'Number of clients with BMI < 25: {low_bmi}')

BMI >= 25: 1093
BMI < 25: 245
1338

In [13]:
# find the mean of charges for high bmi vs low bmi
mean_ins_cost_high_bmi = us_insurance.loc[us_insurance['bmi'] >= high_threshold, 'charges'].mean()
mean_ins_cost_low_bmi = us_insurance.loc[us_insurance['bmi'] < high_threshold, 'charges'].mean()
bmi_mean_difference = mean_ins_cost_high_bmi - mean_ins_cost_low_bmi

print(f'The average insurance cost for clients with a high BMI (>=25): ${round(mean_ins_cost_high_bmi, 2)}')
print(f'The average insurance cost for clients with a low BMI (<25): ${round(mean_ins_cost_low_bmi, 2)}')

print(f'On average high BMI cost insurance ${round(bmi_mean_difference, 2)} more anualy.')

The average insurance cost for clients with a high BMI (>=25): $13940.24
The average insurance cost for clients with a low BMI (<25): $10282.22
On average high BMI cost insurance $3658.01 more anualy.